# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig
space-tourism-website-figma
space-tourism-website-figma/*

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# extra images
assets/destination/image-moon2.png
assets/destination/image-moon2.psd
assets/destination/image-moonFull2.png
assets/destination/shadow.png
assets/destination/shadow.psd
assets/destination/shadow2.png